<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @phrase.body %>
</p>

<p>
  <strong>Source:</strong>
  <%= @phrase.source %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @phrase.scene %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @phrase.describe %>
</p>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
